<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>EcoFab</span>
  <button style="position: absolute;right: 0" (click)="openReportDialog()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>print</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container style="height: 85vh" class="sidenav-container">
  <mat-sidenav #sidenav mode="over" >
    <mat-nav-list>
      <a mat-list-item href="/">Home</a>
      <a mat-list-item href="/confronta">Confronta</a>
      <a mat-list-item href="/movimenti">Movimenti</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
